{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
